nav{
display: flex;
justify-content: center;
color: #fff;
}



footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #000000;
    color: #fff;
}