
#logo {
    width:100px;
}

#espacedeconnexion {
    width: 400px;
    margin: auto;
    margin-bottom: 100px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    border: solid rgba(131, 124, 138, 0.692) 1px;
}

.Caché {
    color: rgba(255, 0, 0, 0.692);
    margin-left: 10%;
    margin-right: 10%;
}

.tab{
    padding-right: 10px;
}

.large {
    font-size: 1.2em;
}

#droits {
    margin-left: 15%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
}

#droits[hidden]{
    display: none;
}

input[type='checkbox'] {
    grid-column: 1;
}

#droits label{
    text-align: left;
    grid-column: 2;
}
